<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

    <h1>Datos</h1>
 
    <% for (const d of data) { %>
        <hr>
        <br>
        <p><strong>Nombre:</strong> <span><%= d.name%></span></p>
        <p><strong>Correo:</strong> <span><%= d.email%></span></p>
        <p><strong>Mensaje:</strong></p><textarea> <%= d.message%></textarea>
        <p><strong>Ubicación:</strong> <span><%= d.ip%></span></p>
        <p><strong>Fecha:</strong> <span><%= d.date%></span></p>
        <p><strong>Hora:</strong> <span><%= d.time%></span></p>
        <br>
      <% } %>
</body>
</html>